doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes')

    title #{config.event.name} &bull; #{config.event.description}

    meta(name='description' content=`${config.event.name} - ${config.event.description}`)
    meta(name='keywords' content='desenvolvedor front-end, desenvolvedora front-end, front-end em florianópolis, eventos de front-end em florianópolis, frontinfloripa, frontinfloripa 2019, eventos de desenvolvimento, desenvolvimento, front-end, html, html5, css3, css, javascript, js')

    link(rel='apple-touch-icon' sizes='180x180' href='assets/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='assets/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='assets/favicons/favicon-16x16.png')
    link(rel='manifest' href='assets/favicons/site.webmanifest')
    link(rel='mask-icon' href='assets/favicons/safari-pinned-tab.svg' color='#292929')
    link(rel='shortcut icon' href='assets/favicons/favicon.ico')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-config' content='assets/favicons/browserconfig.xml')
    meta(name='theme-color' content='#ffffff')

    meta(property='og:locale' content='pt_BR')
    meta(property='og:url' content=`${config.event.url}`)
    meta(property='og:type' content='website')
    meta(property='og:title' content=`${config.event.name}`)
    meta(property='og:site_name' content='Front in Floripa')
    meta(property='og:description' content=`${config.event.description}`)
    meta(property='og:image' content='http://www.frontinfloripa.com.br/assets/img/social.jpg')

    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:title' content=`${config.event.name}`)
    meta(name='twitter:description' content=`${config.event.description}`)
    meta(name='twitter:site' content='@frontinfloripa')
    meta(name='twitter:image' content='http://www.frontinfloripa.com.br/assets/img/social.jpg')

    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i&display=swap')
    link(rel='stylesheet' href='assets/css/main.css')
  body
    header.header
      .header-edition 7ª Edição &mdash; 2019
      .header-top
        .header-top-content
          .header-top-links
            a.button(href='#' target='_blank') Call For Paper
            a.button(href='#' target='_blank') Quero Patrocinar
      .header-wrapper
        .header-content
          .header-content__logo
            .header-logo #{config.event.name}
          .header-content__text
            h1.header-slogan #{config.event.description}
            .header-date
              span.text 30/Novembro
              span.divisor &mdash;
              span.text Hotel Maria do Mar
            .header-actions
              a.button(href='#' target='_blank') Comprar Ingresso

    #coc.coc
      span#close-coc.coc-close &times;
      .coc-content
        .coc-content-inner
          h1 Código de Conduta
          p Participantes, palestrantes, representantes de empresas e pessoas voluntárias da conferência precisam concordar com este código de conduta. A equipe organizadora vai reforçar que este código seja seguido durante todo o evento. Esperamos a cooperação de todas as partes para ajudar a garantir um ambiente seguro para qualquer pessoa.

          h2 Versão rápida
          p  Nossa conferência é dedicada a fornecer uma experiência livre de assédio para todas as pessoas, independentemente do sexo, identidade de gênero e expressão, idade, orientação sexual, deficiência, aparência física, tamanho corporal, cor de pele, etnia, religião (ou falta dela) ou escolhas de tecnologias. Não toleramos o assédio a participantes da conferência, sob qualquer forma. Linguagem e imagens sexuais não são apropriadas em nenhum local, incluindo palestras, workshops, festas, Twitter e outras mídias on-line. Violações destas regras poderão causar expulsão da conferência, sem restituição, a critério da equipe organizadora.

          h2 Versão mais longa
          p  Constituem assédio comentários verbais ofensivos relacionados a gênero, identidade de gênero e expressão, idade, orientação sexual, deficiência, aparência física, tamanho corporal, cor de pele, etnia, religião, escolhas de tecnologias, imagens sexuais em espaços públicos, intimidação deliberada, perseguição, stalking, fotografias ou filmagens constrangedoras, interrupção contínua das apresentações ou outros eventos, contato físico inadequado e atenção sexual indesejada.
          p  Participantes que receberem uma solicitação para interromper qualquer comportamento de assédio devem fazer isso imediatamente.
          p  As políticas antiassédio também se aplicam a representantes de empresas patrocinadoras. Em particular, não devem usar imagens, atividades ou outro material de cunho sexual. As equipes de estandes e tendas (incluindo pessoas voluntárias) não devem utilizar roupas, uniformes ou trajes sexualizados ou criar um ambiente sexualizado de quaisquer formas.
          p  Se alguém se envolver em comportamento de assédio, a equipe organizadora poderá tomar todas as medidas que considerar adequadas, incluindo avisar a pessoa ofensora ou expulsá-la da conferência sem nenhum reembolso.
          p  Caso sofra assédio, perceba que alguém esteja sofrendo assédio ou tenha alguma dúvida, entre em contato com alguém da organização imediatamente. As pessoas da equipe da conferência podem ser identificadas, pois estarão vestindo camisetas marcadas.
          p  A organização estará disposta a auxiliar participantes a entrar em contato com a segurança do hotel ou local, bem como aplicar a legislação pertinente, fornecer escoltas ou ajudar pessoas que sofrerem assédio para que se sintam seguras durante a conferência. Valorizamos sua participação.
          p  Esperamos que todas as pessoas participantes sigam estas regras em salas de apresentação e workshops da conferência, além de eventos sociais relacionados.

    script(src='assets/js/main.js')
