doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes')

    title #{config.event.name} &bull; #{config.event.description}

    meta(name='description' content=`${config.event.name} - ${config.event.description}`)
    meta(name='keywords' content='desenvolvedor front-end, desenvolvedora front-end, front-end em florianópolis, eventos de front-end em florianópolis, frontinfloripa, frontinfloripa 2019, eventos de desenvolvimento, desenvolvimento, front-end, html, html5, css3, css, javascript, js')

    link(rel='apple-touch-icon' sizes='180x180' href='assets/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='assets/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='assets/favicons/favicon-16x16.png')
    link(rel='manifest' href='assets/favicons/site.webmanifest')
    link(rel='mask-icon' href='assets/favicons/safari-pinned-tab.svg' color='#292929')
    link(rel='shortcut icon' href='assets/favicons/favicon.ico')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-config' content='assets/favicons/browserconfig.xml')
    meta(name='theme-color' content='#ffffff')

    meta(property='og:locale' content='pt_BR')
    meta(property='og:url' content=`${config.event.url}`)
    meta(property='og:type' content='website')
    meta(property='og:title' content=`${config.event.name}`)
    meta(property='og:site_name' content='Front in Floripa')
    meta(property='og:description' content=`${config.event.description}`)
    meta(property='og:image' content='https://frontin.floripa.br/assets/img/social.jpg')

    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:title' content=`${config.event.name}`)
    meta(name='twitter:description' content=`${config.event.description}`)
    meta(name='twitter:site' content='@frontinfloripa')
    meta(name='twitter:image' content='https://frontin.floripa.br/assets/img/social.jpg')

    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i&display=swap')
    link(rel='stylesheet' href='assets/css/main.css')
  body
    header.header
      .header-edition 7ª Edição &mdash; 2019
      .header-top
        .header-top-content
          .header-top-links
            a.button(href=`${config.forms.call4paper}` target='_blank') Call For Paper
            a.button(href=`${config.forms.sponsor}` target='_blank') Quero Patrocinar
      .header-wrapper
        .header-content
          .header-content__logo
            .header-logo #{config.event.name}
          .header-content__text
            h1.header-slogan #{config.event.description}
            .header-date
              span.text 30/Novembro
              span.divisor &mdash;
              span.text Hotel Maria do Mar
            .header-actions
              a.button(href=`${config.tickets.url}` target='_blank') Comprar Ingresso

    section.features
      .features-wrapper
        .features-column
          h2.features-title Somos diferentes!
          p.features-description Sabe aquele evento que a gente vai e no outro dia pensa: "Valeu a pena. Ano que vem eu volto". Trabalhamos para que isso aconteça com todos os participantes do Front in Floripa. Além disso, nos orgulhamos de ter a #[strong melhor experiência de Floripa!]
          p.features-description Apostamos em pessoas, simples assim. Pode parecer clichê, mas levamos isso muito a sério. Ao longo desses #[strong 7 anos] de evento sempre trouxemos os melhores nomes do front-end brasileiro... sempre com os temas mais atuais. Além dessas talks, acreditamos na interação das pessoas dentro e fora do auditório.
          p.features-description Piscina de bolinha, fliperama, PS4, espaço para descansar, lounge com café o evento todo... além das brincadeiras de palco como imagem & ação, tiro ao alvo, torta na cara... essas são algumas das experiências que já tiveram e terão no Front in Floripa.
          p.features-description =]
        .features-column
          ul.features-images
            li
              img(src='assets/img/event-02.jpg')
            li
              img(src='assets/img/event-04.jpg')
            li
              img(src='assets/img/event-01.jpg')
            li
              img(src='assets/img/event-03.jpg')

    section.speakers
      .speakers-wrapper
        h2.speakers-title Speakers
        ul.speakers-list
          each speaker in speakers
            li(class=`speaker-item speaker-item--${speaker.type}`)
              .speaker-item-column__image
                .speaker-item__avatar
                  if speaker.avatar
                    img(src=`assets/img/speakers/${speaker.avatar}`)
                  else
                    span.speaker-item__avatar-off ?
              .speaker-item-column__content
                .speaker-item-column__content-wrapper
                  if speaker.name
                    h3.speaker-item__title= speaker.name
                  else
                    h3.speaker-item__title Em breve
                  if speaker.talk
                    p.speaker-item__talk= speaker.talk
                  else
                    p.speaker-item__talk [Em breve]
                  .speaker-item__social
                    if speaker.github
                      a.speaker-item__social-link.gh(href=`https://github.com/${speaker.github}` target='_blank') Github
                    if speaker.twitter
                      a.speaker-item__social-link.tw(href=`https://twitter.com/${speaker.twitter}` target='_blank') Twitter

    section.location
      .location-wrapper
        .location-content
          .location-content-inner
            span.location-title &mdash; Location
            h2.location-venue Hotel Maria do Mar
            address.location-address Rodovia João Paulo, 2285 #[br] Bairro João Paulo #[br] Florianópolis - SC - Brasil
            a.button.location-button(href='https://goo.gl/maps/ty539BmfZM82' target='_blank') Como chegar
        .location-picture

    section.schedule
      .schedule-wrapper
        h2.schedule-title Programação
        ul.schedule-list
          each event in schedule
            li(class=`schedule-item schedule-item__${event.type}`)
              .schedule-column__time
                span.schedule-item__time= event.time
              .schedule-column__content
                h3.schedule-item__title= event.title
                if event.talk
                  p.schedule-item__description= event.talk
                if event.show
                  p.schedule-item__description
                    a.schedule-item__link(href='https://goo.gl/maps/TGtEzM4u2qq' target='_blank')
                      span Como chegar no Chopp do Gus

    section.tickets
      .tickets-wrapper
        .tickets-content
          h2.tickets-title Tickets
          ul.tickets-list
            each ticket in tickets
              li(class=`ticket-item ticket-item--${ticket.open}`)
                h3.ticket-item__title= ticket.title
                p.ticket-item__description= ticket.description
                p.ticket-item__price= `R$ ${ticket.value}`
                .ticket-item__button
                  a.button(href=`${config.tickets.url}` target='_blank') Comprar

    section.support
      .support-wrapper
        .support-content
          h2.support-title Patrocínio
          ul.support-list.support-list--patrocinio
            each item in sponsors
              li.support-item
                a.support-link(href=`${item.website}` target='_blank')
                  img(src=`assets/img/sponsors/${item.logo}`)
          h2.support-title.support-title--apoio Apoio
          ul.support-list.support-list--apoio
            each item in support
              li.support-item
                a.support-link(href=`${item.website}` target='_blank')
                  img(src=`assets/img/support/${item.logo}`)

    footer.footer
      .footer-wrapper
        .footer-column.footer-column--coc
          a.footer-link(href='#coc' id='show-coc') Código de Conduta
        .footer-column.footer-column--email
          span.footer-text contato@frontinfloripa.com.br
        .footer-column.footer-column--social
          a.footer-link(href='https://github.com/frontinfloripa' target='_blank') Github
          a.footer-link(href='https://twitter.com/frontinfloripa' target='_blank') Twitter
          a.footer-link(href='https://fb.com/frontinfloripa' target='_blank') Facebook

    #coc.coc
      span#close-coc.coc-close &times;
      .coc-content
        .coc-content-inner
          h1 Código de Conduta
          p Participantes, palestrantes, representantes de empresas e pessoas voluntárias da conferência precisam concordar com este código de conduta. A equipe organizadora vai reforçar que este código seja seguido durante todo o evento. Esperamos a cooperação de todas as partes para ajudar a garantir um ambiente seguro para qualquer pessoa.

          h2 Versão rápida
          p Nossa conferência é dedicada a fornecer uma experiência livre de assédio para todas as pessoas, independentemente do sexo, identidade de gênero e expressão, idade, orientação sexual, deficiência, aparência física, tamanho corporal, cor de pele, etnia, religião (ou falta dela) ou escolhas de tecnologias. Não toleramos o assédio a participantes da conferência, sob qualquer forma. Linguagem e imagens sexuais não são apropriadas em nenhum local, incluindo palestras, workshops, festas, Twitter e outras mídias on-line. Violações destas regras poderão causar expulsão da conferência, sem restituição, a critério da equipe organizadora.

          h2 Versão mais longa
          p Constituem assédio comentários verbais ofensivos relacionados a gênero, identidade de gênero e expressão, idade, orientação sexual, deficiência, aparência física, tamanho corporal, cor de pele, etnia, religião, escolhas de tecnologias, imagens sexuais em espaços públicos, intimidação deliberada, perseguição, stalking, fotografias ou filmagens constrangedoras, interrupção contínua das apresentações ou outros eventos, contato físico inadequado e atenção sexual indesejada.
          p Participantes que receberem uma solicitação para interromper qualquer comportamento de assédio devem fazer isso imediatamente.
          p As políticas antiassédio também se aplicam a representantes de empresas patrocinadoras. Em particular, não devem usar imagens, atividades ou outro material de cunho sexual. As equipes de estandes e tendas (incluindo pessoas voluntárias) não devem utilizar roupas, uniformes ou trajes sexualizados ou criar um ambiente sexualizado de quaisquer formas.
          p Se alguém se envolver em comportamento de assédio, a equipe organizadora poderá tomar todas as medidas que considerar adequadas, incluindo avisar a pessoa ofensora ou expulsá-la da conferência sem nenhum reembolso.
          p Caso sofra assédio, perceba que alguém esteja sofrendo assédio ou tenha alguma dúvida, entre em contato com alguém da organização imediatamente. As pessoas da equipe da conferência podem ser identificadas, pois estarão vestindo camisetas marcadas.
          p A organização estará disposta a auxiliar participantes a entrar em contato com a segurança do hotel ou local, bem como aplicar a legislação pertinente, fornecer escoltas ou ajudar pessoas que sofrerem assédio para que se sintam seguras durante a conferência. Valorizamos sua participação.
          p Esperamos que todas as pessoas participantes sigam estas regras em salas de apresentação e workshops da conferência, além de eventos sociais relacionados.

    script(src='assets/js/main.js')
